/* ============= header arrow ============== */

@keyframes header_arrow-swing {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

/* ==============  HEART  ================= */

.sparks {
  opacity: 0;
}

.heart {
  transform-origin: center;
}

.like-icon .contour {
  fill: var(--text-color, rgba(0, 0, 0, 1));
  transition: fill 0.1s linear;
}

/* LVHA  ---- H  --- */

.like-icon .core {
  fill: var(--background-color, rgba(255, 255, 255, 1));
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: var(--background-color, rgba(255, 255, 255, 1));
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--text-color, rgba(0, 0, 0, 1));
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--text-color, rgba(0, 0, 0, 1));
  transition: fill 0.3s linear 0.05s;
}

/* LVHA  --- A --- */

.like-icon:active .core {
  fill: var(--heart-fill_color, rgba(255, 0, 0, 1));
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-fill_color, rgba(255, 0, 0, 1));
  transition: fill 0.3s linear 0.05s;
}

/* --- clicked --- */

.like-icon.is-liked .core {
  fill: var(--heart-fill_color, rgba(255, 0, 0, 1));
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill_color, rgba(255, 0, 0, 1));
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill_color, rgba(255, 0, 0, 1));
  transition: fill 0.3s linear 0.06s;
}

/*----*/

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1 alternate;
}

/*----*/

@keyframes sparks-visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: sparks-visibility 0.3s ease-in 0.3s 1 alternate;
}

/* ======================== ADDITIONAL FUNCTIONALITY ============================= */
/* =============================================================================== */

@keyframes totop_arrow-swing {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3px);
  }
}
