/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color, rgba(0, 0, 0, 1));
  font-family: var(--main-font, sans-serif);
  background-color: var(--background-color, rgba(255, 255, 255, 1));
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight_global, 400);
}

/* === общие стили и выравнивание для *всех* блоков === */

.block {
  display: flex;
  flex-direction: column;
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: 2px solid var(--text-color, rgba(0, 0, 0, 1));
  background-color: var(--background-color, rgba(255, 255, 255, 1));
}

/* === общие стили и выравнивание для кнопок like и save === */

.button_global-style {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border: 2px solid var(--text-color, rgba(0, 0, 0, 1));
  color: var(--text-color, rgba(0, 0, 0, 1));
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 12.6px;
  background-color: var(--background-color, rgba(255, 255, 255, 1));
  transition: box-shadow 0.3s ease;
}

/*=== заливка кнопок - для общего класса кнопок === */

.button_global-style::before {
  content: "";
  position: absolute;
  /*inset:0;*/
  background-color: var(--text-color, rgba(0, 0, 0, 1));
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

/*=== инверсия текста для всех кнопок === */

.button__text {
  color: var(--button-text_hover-color, rgba(255, 255, 255, 1));
  mix-blend-mode: difference;
}

/* ------------------------------------------------------------- */

.header {
  align-items: center;
  min-block-size: 323px;
  max-block-size: 368px;
  margin: 100px 0;
  font-family: var(--accent-font, sans-serif);
  text-transform: uppercase;
}

.header__logo {
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 22px 0;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
}

/* ============ */

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  bottom: 2px;
  left: -16px;
  animation: header_arrow-swing 0.5s ease-in-out infinite alternate;
  inline-size: 14px;
  block-size: 14px;
}

/* ========== */

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-color, rgba(0, 0, 0, 1));
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}
/* ===========*/

/* ------------------------------------------------------------- */
.article {
  margin-block-end: 50px;
}

.content-card__title {
  padding: 5px 10px;
  line-height: 21px;
  font-variation-settings: "wght" var(--font-weight_header, 700);
}

.content-card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  line-height: 21px;
}

.picture {
  display: block;
  width: 100%;
  height: 100%;
  /*max-height: 696px;*/
  object-fit: cover;
  object-position: center;
}

.content-card__picture {
  position: relative;
  border-width: 2px 0;
  border-style: solid;
  border-color: var(--text-color, rgba(0, 0, 0, 1));
}

.content-card__picture_label {
  position: absolute;
  top: 25px;
  right: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  z-index: 1;
  opacity: 0.5;
  color: var(--text-color, rgba(0, 0, 0, 1));
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0px var(--background-color, rgba(255, 255, 255, 1)),
    0px 1px var(--background-color, rgba(255, 255, 255, 1)),
    1px 0px var(--background-color, rgba(255, 255, 255, 1)),
    0px -1px var(--background-color, rgba(255, 255, 255, 1));
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1))) or
    (-webkit-text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1)))
) {
  .content-card__picture_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1));
    text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1));
  }
}

/* ============ */

.content-card__button {
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding: 0 25px 25px 0;
}

.card__icon-button {
  margin-inline-end: 2px; /*для красоты, чтобы в фокусе бордер не сливался с кнопкой*/
  border: 2px solid transparent;
  background-color: transparent;
  transition: border 0.3s ease;
  max-block-size: 38px;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
}

/* ------------------- SVG Heart ------------------- */

.sparks {
  opacity: 0;
}

/* ------------------------------------------------ */

.save-dialog__button {
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  min-block-size: 51px;
  margin-block-end: 105px;
}

.floppy-icon {
  mix-blend-mode: difference;
}

/*  ------------- Pop-Up window ------------ */

.popup_window {
  width: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  padding: 31px;
  color: var(--text-color, rgba(0, 0, 0, 1));
  background-color: var(--background-color, rgba(255, 255, 255, 1));
}

.popup_window::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.popup_window_content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.popup_floppy-icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}
.popup_window_title {
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  /* max-inline-size: 234px;
  max-block-size: 195px;*/
}

.popup-button {
  min-width: 100%;
  margin-block-start: 30px;
  padding: 9px;
}

/* ------------------------ фильтры ---------------------------- */
.filter_sepia {
  filter: sepia(45%);
}

.filter_blur {
  filter: blur(2px);
}

.filter_grayscale {
  filter: grayscale(1);
}

.filter_invert {
  filter: invert(1);
}

.filter_saturate {
  filter: saturate(160%);
}

.filter_brightness {
  filter: brightness(200%);
}

.filter_contrast {
  filter: contrast(170%);
}

.filter_mishmash {
  filter: saturate(150%) brightness(150%) contrast(150%) blur(3px);
}

/* ------------------------------------------------------------- */

/* ----------------------- состояния --------------------------- */

/* LVHA  ---- H  --- */

.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.button_global-style:hover::before {
  transform: scaleX(1);
}

/* LVHA --- Focus --- */

.theme-menu__button:focus,
.theme-menu__button:focus-visible,
.card__icon-button:focus,
.card__icon-button:focus-visible,
.button_global-style:focus,
.button_global-style:focus-visible {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, rgba(0, 0, 0, 1));
}
.button_global-style:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color, rgba(0, 0, 0, 1));
}

/* LVHA  ---- A  --- */

/* ------------------------------------------------------------- */

@media (max-width: 376px) {
  .footer__button {
    flex-direction: column;
    min-height: 80px;
  }
}
